/* Resetando padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    padding: 15px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

section {
    padding: 40px 0;
}

h1, h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #444;
}

#home {
    background-color: #ffcc00;
    color: white;
    text-align: center;
}

#home p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#menu .menu-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#menu .menu-items .item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu .menu-items .item img {
    max-width: 100%;
    border-radius: 8px;
}

#localizacao iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
}

#contato form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#contato form input,
#contato form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contato form button {
    background-color: #ffcc00;
    color: white;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contato form button:hover {
    background-color: #ff9900;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
